:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-yellow: #FED230;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
          to bottom right,
          hsl(34, 70%, 50%),
          hsl(184, 60%, 30%)
  );
}

#videoCapturingEl {
  background: white;
  border-radius: 8px;
  padding: 8px;
}

h4 {
  font-size: 1.8em;
  line-height: 1;
  margin: 1.3rem 0;
}

h5 {
  font-size: 1.4em;
  line-height: 1;
  margin: 1.1rem 0;
  text-decoration: underline;
}

#app {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  margin: 1.3rem 0;
}

.button {
  width: 100%;
  border-radius: 25px;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.04rem;
  font-family: inherit;
  background-color: var(--main-yellow);
  box-shadow: 2px 8px 15px rgba(254, 210, 48, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}
.button:hover {
  outline: none;
  transform: translateY(3px);
  box-shadow: 2px 5px 15px rgba(254, 210, 48, 0.5);
}
.button:active {
  outline: none;
  transform: translateY(3px);
  background-color: #fbcd23;
  box-shadow: 2px 5px 15px rgba(254, 210, 48, 0.5);
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(251, 229, 197); /* Fallback color */
  background-color: rgba(251, 229, 197, 0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid var(--main-yellow);
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
